[color]
	ui = auto
[user]
	name = Bill Ruddock
	email = bill.ruddock@gmail.com
[core]
	autocrlf = input
	excludesfile = /home/bill/.gitignore
[alias]
	vimdiff = !GIT_PAGER= GIT_EXTERNAL_DIFF=gitvimdiffwrap git diff
	st = status -sb
	ci = commit
	co = checkout
	list = ls-tree --name-only HEAD:
	ls = ls-tree --name-only HEAD:
