[color]
    ui = auto
[user]
    name = Bill Ruddock
    email = bill.ruddock@gmail.com
[core]
    eol = lf
    autocrlf = input
    excludesfile = /home/bill/.gitignore
[push]
    default = upstream
[alias]
    vimdiff = difftool
    st = status -sb
    ci = commit
    co = checkout
    list = ls-tree --name-only HEAD:
    ls = ls-tree --name-only HEAD:
    unstage = reset HEAD --
[push]
    default = upstream
[diff]
	tool = gvimdiff
[difftool]
	prompt = false
